<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to the lesson</title>
    <link href="/css/dist/output.css" rel="stylesheet" />
</head>
<body class="h-screen w-full">
<div class="space-y-4 h-4/5 flex flex-col justify-center">
    <div class="text-center text-2xl">
        What is HTTP?
    </div>
    <div class="text-center px-2 py-6">
        The Hypertext Transfer Protocol (HTTP) is designed to enable
        communications between clients(browser) and servers (website server).
        HTTP works as a request-response protocol between a client and server.
        HTTP is a protocol, or a definite set of rules, for accessing resources
        on the web. Resources could mean anything from HTML files to data from a
        database, photos, text, and so on.
    </div>
    <div class="text-center text-2xl">
        What is an HTTP request?

    </div>
    <div class="text-center px-2 py-6">
        An HTTP request is made by a client (browser) , to a named host
        (website), which is located on a server. The aim of the request is to
        access a resource on the server. To make the request, the client uses
        components of a URL (Uniform Resource Locator), which includes the
        information needed to access the resource.
        <a class="hover:text-blue-500 underline decoration-blue-300 hover:underline-offset-2"
           href="https://www.ibm.com/docs/en/cics-ts/5.3?topic=concepts-components-url#dfhtl_uricomp">
            The components of a URL </a>explains URLs.
    </div>
</div>
<div class="h-1/5 flex items-end ">
    <button class="flex justify-center items-center h-12 w-full bg-blue-200 rounded-lg">
        <span class="animate-bounce">👉🏻</span>Next Lesson<span class="animate-bounce">👈🏻</span>
    </button>
</div>
</body>
</html>
