<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to the lesson</title>
    <link href="/css/dist/output.css" rel="stylesheet"/>
</head>

<body class="h-screen w-full">
    <div class="space-y-4 h-4/5 flex flex-col justify-center">
        <div class="text-center text-2xl">
            What is Patch Request?
        </div>
        <div class="text-center px-2 py-6">
            The PATCH method is used to apply partial modifications to a resource. Like email change, or password
            change, not the change of all resources.
        </div>
    </div>
    <div class="h-1/5 flex items-end ">
        <button class="flex justify-center items-center h-12 w-full bg-blue-200 rounded-lg">
            <span class="animate-bounce">👉🏻</span>Next Lesson<span class="animate-bounce">👈🏻</span>
        </button>
    </div>
</body>
</html>
